.sub {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 2em;
  width: 100%;
  min-height: 0;
  height: 0;
  z-index: 3;
  transition: min-height 0.5s;
}
.sub > li > a {
  font-size: 16px;
  color: #fff;
  line-height: 1.75;
  background-color: #0071b9;
}
.sub > li > a:hover {
  background-color: #004b83;
  opacity: 1;
}


.gnavi {
  display: flex;
  height: 40px;
  background-color: #56970a;
  box-shadow: 0 3px 6px -3px #000000 inset;
  list-style-type: none;
  a {
    color: #fff;
  }
}
.gnavi__inner {
  position: relative;
  width: 100px;
  border-right: 1px solid #0071b9;
}

.gnavi ul {
  height: 1%;
  outline: 2px solid #0f0;
}

a {
  color: inherit;
  text-decoration: none;
}

.personal-account {
  height: 100%;
  outline: 2px solid #0f0;
  display: flex;
}

.personal-account__data {
  flex: 1 1;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
